.medication-search-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

h2 {
  color: var(--text-color-light);
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
}

button {
  padding: 10px 20px;
  background-color: var(--text-color-light);
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-results {
  margin-top: 20px;
  color: black;
}

.drug-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.drug-table th,
.drug-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.drug-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: black;
}

.drug-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.drug-table tbody tr:hover {
  background-color: #f0f0f0;
}

.drug-table a {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.drug-table a:hover {
  background-color: #2980b9;
}

.search-container button:hover {
background-color: #e3d5ca;
}
