.dashboard-container {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: black;
}

.drug-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.drug-table th,
.drug-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.drug-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: black;
}

.drug-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.drug-table tbody tr:hover {
  background-color: #f0f0f0;
}

.drug-table a {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.drug-table a:hover {
  background-color: #2980b9;
}
